.Main {
  background-color: #eff6ff;
}

.MainContainer {
  background-image: 
  /* linear-gradient(
      to right bottom,
      rgb(239, 246, 255, 0.2),
      rgb(239, 246, 255, 0.2)
    ), */ url(../assets/version3.jpg);
  /* background-position: right 70% bottom 45%; */
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  .MainContainer {
    background-image: none;
  }
}
