.rbc-calendar {
  /* min-width: 100%; */
  height: 100%;
  padding: 1rem 2rem;
  border-radius: 0.375rem;
  border: 0 solid #e5e7eb;
}
@media (min-width: 768px) {
  .rbc-calendar {
    overflow: visible;
  }
}

.rbc-row .rbc-header {
  padding: 1rem;
  font-family: Gilroy-Semibold, Arial;
}

.rbc-toolbar {
  color: rgb(29 29 27) !important;
  font-size: 16px;
  line-height: 1.25rem;
  letter-spacing: -0.5px;
  font-family: Gilroy-Semibold, Arial !important;
  background: white;
  padding: 1rem 2rem;
  border-radius: 3px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
}
.rbc-toolbar-label {
  font-family: Gilroy-Semibold, Arial !important;
  color: rgb(29 29 27) !important;
  font-weight: bold;
}
.rbc-toolbar .rbc-btn-group button {
  color: rgb(0 137 255);
  font-size: 14px;
  font-weight: bold;
  line-height: 1rem;
  letter-spacing: -0.4px;
  border-color: rgb(0 137 255);
  border-width: 1px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.rbc-toolbar .rbc-btn-group button:hover {
  background-color: rgb(33, 70, 236);
  color: rgb(255, 255, 255);
}
.rbc-toolbar button.rbc-active,
.rbc-toolbar button:active {
  background-color: #fb923c !important;
  color: white !important;
}

.rbc-toolbar button:focus {
  background-color: #fb923c !important;
  color: white !important;
}

.rbc-day-bg {
  background-color: rgb(255 255 255);
}
.rbc-time-view {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2) !important;
  border: 0 solid #e5e7eb !important;
  background-color: rgb(240 242 246);
  box-shadow: inset 0 0 0 3px #fff;
}

.rbc-label {
  font-family: Gilroy-Semibold, Arial;
  font-size: 0.6rem;
}
.rbc-month-view {
  height: auto !important;
}
/* .rbc-row-bg {
  min-height: 80px !important;
} */
.rbc-month-row {
  /* flex-basis: auto !important; */
  flex: 0 1 auto !important;
  min-height: 80px;
  height: auto !important;
}

.rbc-day-bg {
  border-right: 1px solid #ebecf0;
  border-top: 1px solid #ebecf0;
  min-height: 80px;
  min-width: 14.28%;
}
/* .rbc-row {
  height: 100%;
} */
/* .rbc-row-content {
  min-height: 100%;
} */
/* .rbc-row-segment {
  background-color: #eef1f4;
} */

.rbc-event {
  min-height: 59px;
  max-height: 392px;
  background-color: transparent !important;
  /* margin-bottom: 4px !important; */

  /* max-height: 392px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin: 4px;
  /* background-color: #f4f6f8; */
  /* border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 8px;
  position: relative;
  transition: background-color 199ms cubic-bezier(0, 0, 0.21, 1.11); */
}
.rbc-day-slot.rbc-time-column .rbc-timeslot-group {
  /* width: 100% !important;
  height: 10px !important; */
  border-radius: 3px !important;
  box-shadow: inset 0 0 0 3px white;
  /* height: 2rem; */
}
.rbc-time-slot {
  border-top: none;
  height: 2rem;
  flex: 1 0 auto !important;
}
.rbc-time-gutter.rbc-time-column {
  background-color: rgb(255 255 255);
}
.rbc-time-header.rbc-overflowing {
  background-color: rgb(255 255 255);
}

/* .rbc-event-label {
  display: none !important;
} */

@media (max-width: 400px) {
  .rbc-calendar {
    padding: 0;
  }
}
