/* .App {
  display: flex;
  height: 100vh;
  /* width: 100vw; */
/* position: relative;
  font-family: Gilroy-Semibold, Arial;
  font-size: 16px;
  line-height: 1.25rem;
  letter-spacing: -0.5px;
  color: rgb(29 29 27 / var(--tw-text-opacity));
  border: 0 solid #e5e7eb;
} */
